.map{
    
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body{
    margin:0;
    padding:0;
    border:0;
}

#title_box{
    padding: 10px 10px 10px 10px; 
    border-radius: 5px;
    background: #DAE2E8;
    opacity: .55;
    height: auto;
}

#title{
    display: block;
    font-family: sans-serif;
     text-transform: uppercase;
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    bottom:5px;
    left:10px;
    z-index: 5;
    }
    
#layercontainer {
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 1;
}

#layerlist {
    border: 2px solid #a1a1a1;
    padding: 20px 20px 20px 20px; 
    max-width: 200px;
    border-radius: 5px;
    background: #DAE2E8;
    opacity: .85;
    height: auto;
    overflow: auto;
}

#exd {
    position: absolute;
    top: 100px;
    right: 255px;
    border: 2px solid #a1a1a1;
    padding: 20px 20px 20px 20px;
    width: 100px;
    border-radius: 5px;
    background: #DAE2E8;
    opacity: .85;
    height: auto;
    overflow: auto;
    z-index: 1;
    
}


#infopopup {
    position: absolute;
    top: 10px;
    left: 50px;
    border: 2px solid #a1a1a1;
    padding: 20px 20px 20px 20px; 
    width: 200px;
    border-radius: 5px;
    background: rgb(225, 240, 242);
    background: rgba(225, 240, 242, 0.7);
    opacity: .9;
    height: 400px;
    overflow: auto;
    opacity: 1;
    z-index: 2;
}

#titlepopup {
    position: absolute;
    top: 10px;
    left: 50px;
    border: 2px solid #a1a1a1;
    padding: 20px 20px 20px 20px;
    width: 200px;
    border-radius: 5px;
    background: rgb(225, 240, 242);
    background: rgba(225, 240, 242, 0.7);
    opacity: .9;
    height: auto;
    /*overflow: auto;*/
    opacity: 1;
    z-index: 2;
}


#popcontent{
overflow:hidden;
}

#closer {
    position: absolute;
    font-family: sans-serif;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    padding: 2px 4px 2px 4px;
    height: auto;
    vertical-align: middle;
    color: #a1a1a1;
    cursor: pointer;
    z-index: 20;
}

#min{
    position: absolute;
    font-weight: bold;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    color: #a1a1a1;
    z-index: 2;
}

#max{
   position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    padding: 2px 4px 2px 4px;
    color: #a1a1a1;
    z-index: 2;
    background: #DAE2E8;
    opacity: .85;
}

#loading{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background: rgb(225, 240, 242);
    background: rgba(225, 240, 242, 0.7);
    opacity: .9;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin: auto;
}

#loadingcont{
position: absolute;
width: 100%;
height: 100%;
z-index: 99;
background: rgb(225, 240, 242);
    background: rgba(225, 240, 242, 0.9);
opacity: .9;
}


.layer{
    padding: 2px 2px 2px 2px;
    display: block;
}

.layer_check{
    float: left;
}

img.thumb{
width:auto;
}

.redhead {
display: block;
    margin-top: .5em;
    margin-bottom: .2em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #CF3247;
}

.layer_heading { 
    display: block;
    margin-top: .5em;
    margin-bottom: .2em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.button {
   border-top: 1px solid #96d1f8;
   background: #a8d1ed;
   background: -webkit-gradient(linear, left top, left bottom, from(#61a8d4), to(#a8d1ed));
   background: -webkit-linear-gradient(top, #61a8d4, #a8d1ed);
   background: -moz-linear-gradient(top, #61a8d4, #a8d1ed);
   background: -ms-linear-gradient(top, #61a8d4, #a8d1ed);
   background: -o-linear-gradient(top, #61a8d4, #a8d1ed);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #b8dbf0;
   background: #b8dbf0;
   color: #ffffff;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
